

*{
  margin: auto;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  background-color: #f2f2f2;
  word-wrap: break-word;
}

th{
  border: 1px solid black;
}
td{
  border: 1px solid black;
}
th{
  background-color: aqua;
}
td{
  background-color: burlywood;
}
tfoot{
background-color: tomato;
}
#Result{
background-color: brown;
}
h1{
font-size: 30px;
color:rgb(214, 50, 1);
margin: 5px;
padding: 5px;
text-decoration:underline;
}
#pass{
background-color: springgreen;
}  